.newsletter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.newsletter-form-container {
    max-width: 400px;
}

.newsletter-title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.newsletter-text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newsletter-form-button {
    margin-top: 20px;
}